@import "./variables.less";
@import "./mixins.less";

// .copyright {
// }

.copyright__link {
  .mixin-apply-link-colors(@default-link-colors);
  .mixin-apply-svg-link-colors(@default-link-colors);

  display: flex;
  align-items: center;

  font-size: @font-size-small;
  font-weight: normal;

  cursor: pointer;
}

.copyright__text {
  padding-right: 10px;
}
