@import "./variables.less";

.features {
  text-align: center;
  text-transform: uppercase;
}

.features__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  list-style: none;
}

.features__item {
  &:last-child {
    border-bottom: 0;
  }
}

.features__item--lightblue {
  color: @features-default-color;

  background-color: @features-default-background-color;
}

.features__item--gray {

  background-color: @features-second-background-color;

  border-bottom: 1px solid red;

  &:last-child {
    border-bottom: 0;
  }
}

.features__content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 25px 35px;
}

.features__photo {
  display: block;
  width: 100%;
}

.features__title {
  margin: 0;
}

.features__order {
  margin: 12px 0;

  font-size: @font-size-small;
  line-height: @line-height-small;
}

.features__text {
  margin: 0;

  font-size: @font-size-small;
  line-height: @line-height-small;
}

.features__places {
  color: @body-color;

  fill: @features-default-background-color;
  background-color: @body-background-color;
}

@media (min-width: @screen-medium-width) {

}
