@import "./variables.less";
@import "./mixins.less";

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 20px;

  background-color: rgba(254, 254, 254, 0.9);
}

.footer__hashtag {
  .mixin-link(@default-link-colors);

  margin: 20px;

  font-size: @font-size-big;
}

.footer__list {
  margin: 20px;
  padding: 0;
}

.footer__copyright {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  margin: 20px;
}
