@import "./variables.less";
@import "./mixins.less";

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  min-height: 120px;

  background-color: @body-background-color;
}

.footer__hashtag {
  .mixin-apply-link-colors(@default-link-colors);

  margin: 20px;

  font-size: @font-size-large;
}

.footer__list {
  margin: 20px;
}

.footer__copyright {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  margin: 20px;
}

@media (min-width: @screen-medium-width) {
  .footer {
    padding: 0;
  }
}
