@import "./variables.less";

.main {
}

.main__welcome {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 389px;

  background-image: url("../img/intro/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

.main__welcome--short {
  height: 160px;
  background-position: 50% 100%;
}

.main__welcome-image {
  width: 280px;

  content: url("../img/intro/text-sedona-index.svg");
}

.main__welcome-image--short {
  position: relative;
  top: -10px;

  width: 230px;

  content: url("../img/intro/text-sedona.svg");
}

.main__arrow-start-small,
.main__arrow-start-medium,
.main__arrow-start-large {
  position: absolute;
  bottom: 0;

  fill: @body-background-color;
}

.main__arrow-start-medium,
.main__arrow-start-large {
  display: none;
}

.main__arrow-end {
  display: block;

  fill: @body-background-color;
  background-color: @features-default-background-color;
}

.main__heading {
  margin: 15px 0;
  padding: 0 30px;

  color: @body-color;
  text-align: center;
  text-transform: uppercase;
  font-size: @font-size-medium;
  line-height: @line-height-medium;
  font-weight: bold;
}

.main__desc {
  margin-top: 26px;
  margin-bottom: 5px;
  padding: 0 30px;

  color: @body-color;
  text-align: center;
  text-transform: uppercase;
  font-size: @font-size-small;
  line-height: @line-height-medium;
}

@media (min-width: @screen-medium-width) {
  .main__welcome {
    height: 518px;

    background-image: url("../img/intro/bg-back-tablet@1x.jpg");
  }

  .main__welcome--short {
    height: 290px;
  }

  .main__welcome-image {
    width: 460px;
  }

  .main__arrow-start-small,
  .main__arrow-start-large {
    display: none;
  }

  .main__arrow-start-medium {
    display: block;
  }
}

@media (min-width: @screen-large-width) {
  .main__welcome {
    background-image: url("../img/intro/bg-back-desktop@1x.jpg");
  }

  .main__arrow-start-small,
  .main__arrow-start-medium {
    display: none;
  }

  .main__arrow-start-large {
    display: block;
  }
}
