@import "./variables.less";

.places-list {
  display: flex;
  flex-wrap: wrap;

  text-align: left;
  text-transform: uppercase;

  list-style: none;
}

.places-list__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  // padding: 25px 20px;
  // margin: 25px 22px;
}

.place-list__icon {
  flex-shrink: 0;
  min-width: 38px;
  min-height: 38px;
  margin-right: 10px;
}

.places-list__title {
  margin: 0;
  // flex-grow: 1;
}

.places-list__text {
  flex-grow: 1;
  margin: 12px 0 0 48px;

  font-size: @font-size-small;
  line-height: @line-height-small;
}
