@body-color: #000000;
@body-background-color: #ffffff;

@nav-menu-min-height: 56px;

@features-default-color: #ffffff;
@features-default-background-color: #81b3d2;

@features-second-color: @body-color;
@features-second-background-color: #eeeeee;

@default-button-colors:
  #ffffff, // normal
  #ffffff, // hover
  rgba(255, 255, 255, 0.3), // down
  #ffffff; // disabled
@default-button-background-colors: #81b3d2, #669ec0, #5496bd, #e5e5e5;

@default-link-colors: #000000, #81b3d2, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3);
@default-icon-colors: @default-button-colors;

@default-button-border-top-colors: #9ac2db, #86b2cd, #77acca, #cccccc;
@default-button-border-bottom-colors: #678fa8, #678fa8, #678fa8, #cccccc;

@font-family: "PT Sans", sans-serif;
@font-size-small: 14px;
@line-height-small: @font-size-small * 1.45;
@font-size-medium: 18px;
@line-height-medium: @font-size-medium * 1.45;
@font-size-large: 21px;
@line-height-large: @font-size-large * 1.45;

@screen-small-width: 320px;
@screen-medium-width: 768px;
@screen-large-width: 1200px;

// @button-background--normal: #81b3d2;
// @button-background--hover: #669ec0;
// @button-background--down: #5496bd;
// @button-background--disabled: #e5e5e5;

// @button-content--normal: rgba(255, 255, 255, 1);
// @button-content--hover: rgba(255, 255, 255, 1);
// @button-content--down: rgba(255, 255, 255, 0.3);
// @button-content--disabled: rgba(255, 255, 255, 1);

// @button-border-top--normal: #9bc2db;
// @button-border-top--hover: #86b2cd;
// @button-border-top--down: #77acca;
// @button-border-top--disabled: #cccccc;

// @button-border-bottom--normal: #678fa8;
// @button-border-bottom--hover: #678fa8;
// @button-border-bottom--down: @button-border-bottom--hover;
// @button-border-bottom--disabled: @button-border-bottom--hover;

@TEST: #ff0000;
