// стиль именования переменных
// блок-стиль (сущность-атрибут)

// overall >>>
// цвет текста на странице, по умолчанию
@body-color: #000000;
// альтернативный цвет текста
@body-second-color: #333333;

// цвет фона на странице
@body-background-color: #ffffff;
@body-second-background-color: #f2f2f2;

// цвета текста для кнопок
@default-button-colors:
  #ffffff, // normal
  #ffffff, // hover
  rgba(255, 255, 255, 0.3), // down
  rgba(255, 255, 255, 0.2); // disabled

// цвета фона для кнопок
@default-button-background-colors: #81b3d2, #669ec0, #5496bd, #e5e5e5;

// цвета ссылок
@default-link-colors: #000000, #81b3d2, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3);
@default-active-link-colors: #766357, #604e43, rgba(118, 99, 87, 0.3), rgba(118, 99, 87, 0.3);
// цвета иконок на кнопках, пока используется только в social-list блоке.
@default-icon-colors: @default-button-colors;
// overall <<<

// index.html >>>
// цвета текстов для фич, основные блоки
@features-default-color: #ffffff;
// цвета фона для фичи
@features-default-background-color: #81b3d2;
// цвета текстов для фич, второстепенные блоки
@features-second-color: @body-color;
// цвета фона для фичи
@features-second-background-color: #eeeeee;
// index.html <<<

// main-nav >>>
// высота элемента в навигации, что-то вроде flex-basis
@nav-item-height: 56px;
// main-nav <<<

// form.html >>>
// цвета для элементов форм. check/radio
@input-colors: #333333, #333333, #a4a4a4, rgba(51, 51, 51, 0.2);
// цвета фона для элементов
@input-background-colors: #f2f2f2, #e5e5e5, #ffffff, rgba(242, 242, 242, 0.2);
@input-decor-background-color: #e6e6e6;
@toggle-background-colors: #f2f2f2, #e5e5e5, #d5d5d5, rgba(242, 242, 242, 0.2);
// цвет для декоративных бордеров
@fieldset-border-color: #dbdbdb;
// form.html <<<

// photo & video >>>
@photo-item-border-color: #e5e5e5;

@photo-caption-color: @body-color;
@photo-caption-background-color: #f2f2f2;
@photo-caption-background-color2: #eaeaea;
@photo-caption-second-color: #ffffff;
@photo-caption-second-background-color: rgba(0, 0, 0, 0.3);

@video-controls-colors: #5c6870, #333333, rgba(51, 51, 51, 0.3), rgba(51, 51, 51, 0.2);
@video-controls-background-color: #f2f2f2;
@video-controls-second-colors: #ffffff, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2);
@video-controls-second-background-color: rgba(0, 0, 0, 0.6);
@video-controls-timeline-color: rgba(255, 255, 255, 0.2);
// photo & video <<<

@font-family: "PT Sans", Arial, sans-serif;
@font-size-small: 14px;
@line-height-small: @font-size-small * 1.45;
@font-size-medium: 18px;
@line-height-medium: @font-size-medium * 1.45;
@font-size-large: 21px;
@line-height-large: @font-size-large * 1.45;
@font-size-extra-large: 30px;
@line-height-extra-large: @font-size-extra-large * 1.45;

@screen-small-width: 320px;
@screen-medium-width: 768px;
@screen-large-width: 1200px;
@screen-retina: 2dppx;
